@* <h3>Login</h3>
 *@
 @using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Exam Dashboard</title>
    <link rel="stylesheet" href="~/css/applicant.css" asp-append-version="true" />

</head>
<body>
    
    <div class="wrapper">
        <div>
            <a asp-action="LogOut" asp-controller="Account" class="logout">LOGOUT</a>
        </div>

        <div class="exam">
            @Html.ActionLink("General Knowledge Exam", "StartExam", "Applicant", new { applicantId = @Accessor.HttpContext.Session.GetString("ApplicantId"), examTypeId = 1}, null)
        </div>
        <div class="exam1">
            @Html.ActionLink("Mathematics Exam", "StartExam", "Applicant", new { applicantId = @Accessor.HttpContext.Session.GetString("ApplicantId"), examTypeId = 2 }, null)

        </div>
        <div class="exam2">
            @Html.ActionLink("Computer Technology Exam", "StartExam", "Applicant", new { applicantId = @Accessor.HttpContext.Session.GetString("ApplicantId"), examTypeId = 3 }, null)

        </div>

    </div>
</body>
</html>
