@model AptitudeWebApp.Models.ExamQuestions

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="" rel="stylesheet" />

    <link rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/radio.css" asp-append-version="true" />
    <title>AddQuestion</title>
</head>
<body>
    @Html.Partial("_Narbar")
    <h1>Add Question</h1>
    <p class="create">
        <a href="#">SAVE</a>
    </p>
    <h2 style="text-align:center">Pick the exam type for this question</h2>
    <div class="row">
        <div>
            <div class="container">
                <form asp-action="EditQuestion" method="post">
                    <input asp-for="QuestionId" type="hidden" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="radio">
                        <input class="radio__input" type="radio" name="examTypeId"
                               value=1 id="myRadio1" />
                        <label class="radio__label" for="myRadio1">GENERIC KNOWLEDGE</label>
                        <input class="radio__input" type="radio" name="examTypeId"
                               value=2 id="myRadio2" checked />
                        <label class="radio__label" for="myRadio2">MATHEMATICS</label>
                        <input class="radio__input" type="radio" name="examTypeId"
                               value=3 id="myRadio3" />
                        <label class="radio__label" for="myRadio3">COMPUTER TECHNOLOGY</label>
                    </div>
                    <div>
                        <h3 asp-for="QuestionText" style="margin-left: 10px;">Question Text:</h3>
                        <input asp-for="QuestionText" type="text" class="Question" />
                    </div>
                    @if (Model.Answers.Count > 0)
                    {
                        @for (int i = 0; i < Model.Answers.Count; i++)
                        {
                            <div class="form-contro">
                                <label class="control-label">Answer @(Convert.ToChar('A' + i)):</label>
                                <input name="answerTexts[@i]" type="text" class="form-control" value="@Model.Answers[i].Text" required style="  width: 15%;height: 40px;margin-left: 10px;margin: 10px;" />
                            </div>
                        }
                        <div class="form-contro">
                            <label>Correct Answer:</label>
                            <select name="correctAnswerIndex" class="form-control">
                                @for (int i = 0; i < Model.Answers.Count; i++)
                                {
                                    <option value="@(i + 1)" selected=@(Model.Answers[i].IsCorrect ? "selected" : "") required style="  width: 15%;height: 40px;margin-left: 10px;margin: 10px;">
                                        Answer @(Convert.ToChar('A' + i))
                                    </option>
                                }
                            </select>
                        </div>
                    }
                    else
                    {
                        @for (int i = 0; i < 4; i++)
                        {
                            <div class="form-contro">
                                <label class="radio__label1">Answer @(Convert.ToChar('A' + i)):</label>
                                <input name="answerTexts[@i]" type="text" class="form-control" />
                            </div>
                        }

                        <div class="form-group">
                            <label>Correct Answer:</label>
                            <select name="correctAnswerIndex" class="form-control">
                                @for (int i = 0; i < 4; i++)
                                {
                                    <option value="@(i + 1)" required>
                                        Answer @(Convert.ToChar('A' + i))
                                    </option>
                                }
                            </select>
                        </div>

                    }
                   
                </form>
            </div>            
            
        </div>
    </div>

</body>
</html>
