@model AptitudeWebApp.Models.Questions

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/radio.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <title>Edit Question</title>
</head>
<body>
    @Html.Partial("_Narbar")
    <form asp-action="EditQuestion" method="post">
        <div class="container d-flex align-items-center justify-content-between mt-3">
            <h2>Edit Question</h2>

            <button type="submit" onclick=" return confirm('Do you want to change the Updated Question?')" class="btn btn-warning text-white btn-lg mr-auto">Save</button>
        </div>



        <h2 style="text-align:center">Pick the exam type for this question</h2>
        <div class="row">
            <div>
                <div class="container">

                    <input asp-for="QuestionId" type="hidden" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="radio">
                        <input class="radio__input" type="radio" name="examTypeId"
                               value=1 id="myRadio1" checked="@(Model.ExamTypeId == 1)" />
                        <label class="radio__label d-flex align-items-center justify-content-center" for="myRadio1">GENERIC KNOWLEDGE</label>
                        <input class="radio__input" type="radio" name="examTypeId"
                               value=2 id="myRadio2" checked="@(Model.ExamTypeId == 2)" />
                        <label class="radio__label d-flex align-items-center justify-content-center" for="myRadio2">MATHEMATICS</label>
                        <input class="radio__input" type="radio" name="examTypeId"
                               value=3 id="myRadio3" checked="@(Model.ExamTypeId == 3)" />
                        <label class="radio__label d-flex align-items-center justify-content-center" for="myRadio3">COMPUTER TECHNOLOGY</label>
                    </div>
                    <div class="form-group my-3">
                        <label asp-for="QuestionText" class="control-label">Question Text:</label>
                        <input asp-for="QuestionText" type="text" required class="Question p-3" />
                    </div>
                    @if (Model.Answers.Count > 0)
                    {
                        @for (int i = 0; i < Model.Answers.Count; i++)
                        {
                            <div class="form-group">
                                <label class="control-label">Answer @(Convert.ToChar('A' + i)):</label>
                                <input name="answerTexts[@i]" type="text" class="form-control" value="@Model.Answers[i].Text" required style="width: 15%;height: 40px;margin-left: 10px;margin: 10px;" />
                            </div>
                        }
                        <div class="form-group">
                            <label class="control-label">Correct Answer:</label>
                            <select name="correctAnswerIndex" class="form-control" style="width: 15%;height: 40px;margin-left: 10px;margin: 10px;">
                                @for (int i = 0; i < Model.Answers.Count; i++)
                                {
                                    @if (Model.Answers[i].IsCorrect)
                                    {
                                        <option value="@(i + 1)" selected required>
                                            Answer @(Convert.ToChar('A' + i))
                                        </option>
                                    }
                                    else
                                    {
                                        <option value="@(i + 1)" required>
                                            Answer @(Convert.ToChar('A' + i))
                                        </option>

                                    }

                                }
                            </select>
                        </div>
                    }
                    else
                    {
                        @for (int i = 0; i < 4; i++)
                        {   
                            <div class="form-group">
                                <label class="radio__label1">Answer @(Convert.ToChar('A' + i)):</label>
                                <input name="answerTexts[@i]" type="text" class="form-control" required style="width: 15%;height: 40px;margin-left: 10px;margin: 10px;" />
                            </div>
                        }

                        <div class="form-group">
                            <label class="control-label">Correct Answer:</label>
                            <select name="correctAnswerIndex" class="form-control" style="width: 15%;height: 40px;margin-left: 10px;margin: 10px;">
                                @for (int i = 0; i < 4; i++)
                                {
                                    <option value="@(i + 1)" required>
                                        Answer @(Convert.ToChar('A' + i))
                                    </option>
                                }
                            </select>
                        </div>

                    }
                </div>

            </div>
        </div>
    </form>


</body>
</html>
