@model IEnumerable<AptitudeWebApp.Applicant>

@{
    Layout = null;
}
<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <style>
        .pagination {
            display: compact;
            padding-left: 0;
            margin: 15px;
            border-radius: 4px;
        }

            .pagination > li {
                display: inline-grid;
            }



                .pagination > li > a,
                .pagination > li > span {
                    position: relative;
                    float: left;
                    padding: 7px 10px;
                    margin-left: -1px;
                    line-height: 1.428571429;
                    text-decoration: none;
                    background-color: #eee;
                    border: 1px solid #dddddd;
                }

                .pagination > li:first-child > a,
                .pagination > li:first-child > span {
                    margin-left: 0;
                    border-bottom-left-radius: 4px;
                    border-top-left-radius: 4px;
                }

                .pagination > li:last-child > a,
                .pagination > li:last-child > span {
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }

                .pagination > li > a:hover,
                .pagination > li > span:hover,
                .pagination > li > a:focus,
                .pagination > li > span:focus {
                    background-color: #eeeeee;
                }

            .pagination > .active > a,
            .pagination > .active > span,
            .pagination > .active > a:hover,
            .pagination > .active > span:hover,
            .pagination > .active > a:focus,
            .pagination > .active > span:focus {
                z-index: 2;
                color: #000;
                cursor: default;
                background-color: #428bca;
                border-color: #428bca;
            }

            .pagination > .disabled > span,
            .pagination > .disabled > a,
            .pagination > .disabled > a:hover,
            .pagination > .disabled > a:focus {
                color: #999999;
                cursor: not-allowed;
                background-color: #eee;
                border-color: #dddddd;
            }

        .pagination-lg > li > a,
        .pagination-lg > li > span {
            padding: 0;
            font-size: 18px;
        }

        .pagination-lg > li:first-child > a,
        .pagination-lg > li:first-child > span {
            border-bottom-left-radius: 6px;
            border-top-left-radius: 6px;
        }

        .pagination-lg > li:last-child > a,
        .pagination-lg > li:last-child > span {
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
        }

        .pagination-sm > li > a,
        .pagination-sm > li > span {
            padding: 0;
            font-size: 12px;
        }

        .pagination-sm > li:first-child > a,
        .pagination-sm > li:first-child > span {
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
        }

        .pagination-sm > li:last-child > a,
        .pagination-sm > li:last-child > span {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
    </style>
</head>
<body>
    @Html.Partial("_Narbar")
    <section>
        <h1>ViewApplicant</h1>
        <form asp-action="ViewApplicant" asp-controller="Manager" method="get">
            <input name="txtSearch" placeholder="Enter..." />
            <input type="submit" value="Search" class="btn btn-primary" />
        </form>
        <p>
            <a asp-action="AddApplicant">Create New</a>
        </p>
        <div class=" c" style="overflow-x:auto;">

            <table class="table" border="1">
                <thead>
                    <tr>
                        <th>
                            FirstName
                        </th>
                        <th>
                            LastName
                        </th>
                        <th>
                            Age
                        </th>

                        <th>
                            Address
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            City
                        </th>
                        <th>
                            PhoneNumber
                        </th>
                        <th>
                            Notes
                        </th>
                        @* <th>
                        @Html.DisplayNameFor(model => model.ImagePath)
                        </th>*@
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Posts)

                    {
                        <tr>
                            <td>
                                @item.FirstName
                            </td>
                            <td>
                                @item.LastName
                            </td>
                            <td>
                                @item.Age
                            </td>

                            <td>
                                @item.Address
                            </td>
                            <td>
                                @item.Email
                            </td>
                            <td>
                                @item.City
                            </td>
                            <td>
                                @item.PhoneNumber
                            </td>
                            <td>
                                @item.Notes
                            </td>
                            @* <td>
                        <img src="/@item.ImagePath" width="110">
                        </td> *@

                            <td>
                                @Html.ActionLink("Edit", "EditApplicant", new { id = item.ApplicantId }, new { @class = "btn btn-sm btn-primary" })
                                @*                 <a asp-action="Details" asp-route-id="@item.ApplicantId">Details</a> | *@
                                @Html.ActionLink("Delete", "DeleteApplicant", new { id = item.ApplicantId }, new { @class = "btn btn-sm btn-primary" })

                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="card-footer">
                <nav class="ca" aria-label="Page navigation example">
                    <ul class="pagination">

                        @{
                            int position;
                            int pageCurrent = ViewBag.pageCurrent;
                            string txtSearch = ViewBag.txtSearch;
                            float numSize = ViewBag.numSize;
                            if (pageCurrent > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("ViewApplicant", "Manager", new { txtSearch = (txtSearch != "" ? txtSearch : null), page = pageCurrent-1 })" tabindex="-1">Previous</a>
                                </li>
                            }

                            for (position = 1; position <= numSize; position++)
                            {

                                if (position == pageCurrent)
                                {
                                    <li class="page-item active"><a class="page-link" href="@Url.Action("ViewApplicant", "Manager", new { txtSearch = (txtSearch != "" ? txtSearch : null), page = position })">@position</a></li>
                                }

                                else
                                {
                                    <li class="page-item"><a class="page-link" href="@Url.Action("ViewApplicant", "Manager", new { txtSearch = (txtSearch != "" ? txtSearch : null), page = position })">@position</a></li>
                                }

                            }
                            if (pageCurrent > 0 && pageCurrent < numSize)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("ViewApplicant", "Manager", new { txtSearch = (txtSearch != "" ? txtSearch : null), page = pageCurrent+1 })" tabindex="-1">Next</a>
                                </li>
                            }

                        }

                    </ul>
                </nav>
            </div>

        </div>
    </section>
</body>
</html>
<script>
    function myFunction() {
        var x = document.getElementById("myLinks");
        if (x.style.display === "block") {
            x.style.display = "none";
        } else {
            x.style.display = "block";
        }
    }
</script>
