@model IEnumerable<AptitudeWebApp.Models.ExamQuestion>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewQuestion</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    <header>

        <div class="topnav1">
            <img class="logo" src="/images/logo.png" style="width:60px">
            <a class="link" asp-action="ApplicantDashboard">Dashboash</a>
            <a class="link" asp-action="ViewApplicant">Applicants</a>
            <a class="link" asp-action="ViewQuestion">Questions</a>

            <a href="#about" class="split">LOGOUT</a>
            <a class="l">Hello, Manager</a>
        </div>

        @* <div class="headerlink">
        <a asp-action="ApplicantDashboard">Dashboard</a>
        <a asp-action="ApplicantDashboard">Applicants</a>
        <a asp-action="ApplicantDashboard">Questions</a>
        </div>

        <div>
        <p>Hello, Manager</p>
        <a asp-action="LogOut">LOGOUT</a>
        </div>
        *@



        <!-- Top Navigation Menu -->
        <div class="topnav2">
            <img class="active" src="/images/logo.png">
            <!-- Navigation links (hidden by default) -->
            <div id="myLinks">
                <a href="#news">News</a>
                <a href="#contact">Contact</a>
                <a href="#about">About</a>
            </div>
            <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </header>
<p>
    <a asp-action="AddQuestion">Create New</a>
</p>
<table class="table" border="1">
    <thead>
        <tr>
            
            <th>
                Id
            </th>
            <th>
                Question Text
            </th>
            <th>
                Marks
            </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExamTypeId)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                    <td>@Html.DisplayFor(modelItem => item.QuestionId)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.QuestionText)
                    </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionScore)
            </td>
            
                    <td>
                        @Html.DisplayFor(modelItem => item.ExamTypeId)
                    </td>
            <td>
                <a asp-action="EditQuestion" asp-route-id="@item.QuestionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.QuestionId">Details</a> |
                <a asp-action="DeleteQuestion" asp-route-id="@item.QuestionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
